.general {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    	"imagen titulo"
    	"imagen login"
    	"imagen login"
    	"imagen offline";
}
.general .imagen {
    grid-area: imagen;
}
.general .titulo {
    grid-area: titulo;
}
.general .login {
    grid-area: login;
}
.general .offline {
    grid-area: offline;
}