.padreHome {
    padding: 30px;
    margin: auto;
}

.home {
    padding: 30px;
    margin: 30px;
}

.calculadora {
    max-width: 600px;
    margin: auto;
}

.informes {
    min-width: 600px;
    max-width: 800px;
    margin: auto;
}