.padreHome {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.home {
    padding: 30px;
    min-width: 500px;
}

.calculadora {
    margin: auto;
}

.informe {
    margin-left: 10px;
    min-width: 800px;
}