<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="css/estilosPack2.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>  
    <script src="js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.13.0/bootstrap-vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Registro en iFootprint</title>
</head>
<body class="gris">

	<!--Barra de navegacion-->
	<nav class="navbar sticky-top navbar-dark bg-dark sombraNav">
		<a class="navbar-brand" href="#">
			<img src="svg/mundo-verde.svg" width="50" height="50" class="d-inline-block" alt="">
			iFootprint
			<small class="text-muted">PRO</small>
		</a>
	</nav>

	<div class="formularioPadre">
		<div class="jumbotron formulario">
			<center>
				<p class="display-4">Registro en iFootprint</p>
			</center>
                <br>
                <!--
                <form 
                action="registrarDatos.php" 
                method="post" id="formulario" 
                @submit="checkForm" 
                novalidate="true">

					<div class="form-group">
                        <br>
                        <label for="correo">Correo electrónico</label>

                        <b-form-input 
                        type="email" 
                        class="form-control" 
                        id="correo" 
                        aria-describedby="emailHelp" 
                        placeholder="example@email.com"
                        v-model="correo" 
                        :state="correoValido" 
                        name="correo" 
                        v-validate.continues="'required|email'">
                        </b-form-input>      

                        <small id="emailHelp" class="form-text text-muted">Nunca compartimos tu correo con otras plataformas</small>
                        <small v-if="errorCorreo" class="text-danger">
                        	<div class="alert alert-danger">Tienes que ingresar un correo para continuar</div>                            
                        </small>
                    </div>
                    
					<div class="form-group">
                        <br>
                        <label for="usuario">Nombre de usuario</label>
                        <b-form-input type="text" class="form-control" id="usuario" placeholder="theWorldKeeper" v-model="usuario" :state="estadoUsuario"></b-form-input>
                        <small v-if="!estadoUsuario">
                            <p class="text-danger">Tu nombre de usuario debe tener al menos 8 caracteres</p>
                        </small>
                    </div>
                    <div class="form-group">
                        <br>
                        <label for="contraseña">Contraseña</label>
                        <b-form-input type="password" class="form-control" id="contraseña" placeholder="Escribe tu clave" v-model="clave" :state="estadoClave"></b-form-input>                    
                        <small id="contraseñaHelp" class="form-text text-muted">Tu contraseña debe tener al menos 8 caracteres</small>
                        <small v-if="erroClave" class="text-danger">
                        	<div class="alert alert-danger">Tienes que ingresar una contraseña para continuar</div>                            
                        </small>
                    </div>
                
					<button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
                -->
                

                <form id="app" @submit="checkForm" action="registrarDatos.php" method="post" novalidate="true"> 
                    
                    <div class="form-group">
                        <br>
                        <label for="correo">Correo electrónico</label>

                        <b-form-input 
                        type="email" 
                        class="form-control" 
                        id="correo" 
                        aria-describedby="emailHelp" 
                        placeholder="example@email.com"
                        v-model="correo" 
                        :state="correoOK" 
                        name="correo" 
                        v-validate.continues="'required|email'">
                        </b-form-input>      

                        <small v-if="correoVacio" class="text-danger">
                            <p class="text-danger">Debes ingresar un correo</p>                         
                        </small>
                        <small v-if="correoNoValido" class="text-danger">
                            <p class="text-danger">El correo debe tener un formato de correo</p>                         
                        </small>

                    </div>
                  
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                  
                  </form>
		</div>
	</div>


        <!-- Script de verificacion de formulario -->
        <script>
            const app = new Vue({
            el:'#app',
            data:{
                correoVacio: false,
                correoNoValido: false,
                correoValido: false,
                name:null,
                correo:null,
                movie:null
            },
            methods:{
                checkForm:function(e) {
                    this.correoVacio = false;
                    this.correoNoValido = false;
                    this.correoValido = false;
                    if(!this.correo) {
                        this.correoVacio = true;
                    } else if(!this.validEmail(this.correo)) {
                        this.correoNoValido = true;      
                    } else {
                        this.correoValido = true;
                    }
                    if(this.correoValido) return true;
                    e.preventDefault();
                },
                validEmail:function(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
                }
            },
            computed: {
                correoOK() {
                    if(!this.correo) {
                        return false;
                    } else if(!this.validEmail(this.correo)) {
                        return false;      
                    } else {
                        return true;
                    }
                }
            }
            })
        </script>

</body>
</html>